@font-face {
  font-family: "CerebriSansPro"; 
  src: url("../fonts/CerebriSansPro-Regular.ttf") format("truetype"); 
  font-style: normal; 
  font-weight: normal; 
} 

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "CerebriSansPro";
}

body{
  width: 100%;
  height: 100vh;
  background-color: #F7F7F7;
}

.wrapper{
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header{
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.grey{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #2A2A2A;
  color: #FFFFFF;
}

.info{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 11px 0px 12px 0px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 14px;

}

.split{
  margin: 0px 17px;
  width: 1px;
  height: 14px;
  background-color: white;
}

.media{
  margin-left: 25px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px 0px;
}

.mail{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mail__icon{
  width: 24px;
  height: 24px;
  background-image: url(../images/icons/email.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 6px;
}

.media__icon{
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
  cursor: pointer;
}

.free{
  width: 182px;
}

.facebook{
  background-image: url(../images/icons/facebook.svg);
}

.whatsapp{
  background-image: url(../images/icons/whatsapp.svg);
}

.in{
  background-image: url(../images/icons/in.svg);
}

.twitter{
  background-image: url(../images/icons/twitter.svg);
  margin-right: 0px;
}

@media(max-width: 768px) {
  .split{
    margin: 0px 4px;
  }

  .media{
    margin-left: 4px;
  }
  .media__icon{
    margin-right: 4px;
  }
}

@media(max-width: 425px) {
  .info{
    width: 318px;
    flex-wrap: wrap;
  }

  .mail{
    order: 2;
  }

  .free{
    width: 150px;
    order: 4;
  }

  .split{
    margin: 0px 10px;
    order: 3;
  }

  .media{
    width: 200px;
    margin-bottom: 10px;
    justify-content: space-between;
    order: 1;
  }

  .media__icon{
    margin-right: 0px;
  }
}

.items-wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 36px;
}

.items {
  flex-shrink: 0;
  display: flex;
  gap: 36px;
  justify-content: space-around;
  min-width: 100%;
}

.item {
  position: relative;
  background: #ccc;
  flex: 0 0 auto;
  width: 356px;
  height: 228px;
  background: #FFFFFF;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
  padding: 6px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.item:hover {
  transform: scale(1.02);
}

.marquee {
  animation: scroll 50s linear infinite;
}

.items-wrap:hover .marquee {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.image{
  width: 100%;
  height: 100%;
  background-color: red;
}

.shop-now{
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 125px;
  height: 50px;
  color: #FFFFFF;
  background-color: #7FAD39;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 14px;
}

.nuts .image{
  background-image: url(../images/backgrounds/nuts.png);
  background-size: 356px 228px;
}

.vegetables .image{
  background-image: url(../images/backgrounds/vegetables.png);
  background-size: 356px 228px;
}

.fruit .image{
  background-image: url(../images/backgrounds/fruit.png);
  background-size: 356px 228px;
}

.eggs .image{
  background-image: url(../images/backgrounds/eggs.png);
  background-size: 356px 228px;
}

.beverage .image{
  background-image: url(../images/backgrounds/beverage.png);
  background-size: 356px 228px;
}

.text{
  display: flex;
  flex-direction: column;
  line-height: 24px;
  position: absolute;
  top: 20px;
  left: 6px;
  width: 186px;
  height: 61px;
  padding: 19px 20px;
  background-color: #FFFFFF;
}

.text__sale{
  color: #7FAD39;
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;

}

.text__more{
  font-weight: 900;
  font-size: 14px;
}

.text__name{
  font-weight: 500;
  font-size: 14px;
  color: #999999;
}